---
import Hero from "../components/ui/Hero.astro";
import Divider from "../components/ui/Divider.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Divider />
	</main>
</Layout>
