---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import ProductCarousel from '@components/ProductCarousel.astro';
import BlogCarousel from '@components/BlogCarousel.astro';
---

<Layout>
  <main>
    <Hero />
    <ProductCarousel />
    <BlogCarousel />
  </main>
</Layout>