---
import Hero from "../components/ui/Hero.astro";
import Divider from "../components/ui/Divider.astro";
import Layout from "../layouts/Layout.astro";
import ProductList from "../components/ui/ProductList.astro";
import "../styles/global.css";
---

<Layout title="Makusu | Homepage.">
  <main>
    <Hero />
    <Divider />
    <ProductList />
		
  </main>
</Layout>
