---
import "@styles/global.css";
import Nav from '@components/Nav.astro';
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>Makusu</title>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script is:inline src="/pagefind/pagefind-ui.js"></script>
  </head>
  <body class="bg-gray-50 flex flex-col min-h-screen">
    <Nav />
    <!-- Add pt-16 to account for fixed navbar height -->
    <div class="pt-16 flex-grow">
      <slot />
    </div>
    
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>