---
interface Props {
	productName: string;
	detail: string;
	imageUrl: string;
}

const { productName, detail, imageUrl } = Astro.props;
---

<div class="card bg-base-100 w-96 shadow-xl">
  <figure>
    <img
      src={imageUrl}
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      {productName}
      <!-- <div class="badge badge-secondary">NEW</div> -->
    </h2>
    <p>{detail}</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">สกรู</div>
      <!-- <div class="badge badge-outline">Products</div> -->
    </div>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>