---
const List: { title: string, detail: string}[]= [
  {
    title: "Free Delivery",
    detail: "To Your Door"
  },
  {
    title: "Local Pickup",
    detail: "Check Out Locations"
  },
  {
    title: "Available for You",
    detail: "Online Support 24/7"
  },
  {
    title: "Order on the Line",
    detail: "click here"
  },
]
---

<div class="flex w-full flex-col lg:flex-row bg-white max-w-screen-xl mx-auto">
  {List.map((item, index) => (
    <>
      <div class="card rounded-box grid h-32 flex-grow place-items-center mx-0">
        <h3 class="text-black font-bold">{item.title}</h3>
        <p>{item.detail}</p>
      </div>
      {index < (List.length - 1) && <div class="divider lg:divider-horizontal"></div>}
    </>
  ))}
</div>