<div
  class="hero min-h-max"
  style="background-image: url(https://static.wixstatic.com/media/nsplsh_0ebfcc74bec94475aebb180c23df3d80~mv2.jpg/v1/fill/w_1371,h_634,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/nsplsh_0ebfcc74bec94475aebb180c23df3d80~mv2.jpg);"
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        Welcome to Makusu</h1>
      <p class="mb-5">
        the perfect blend of quality and value! Our robust screws are crafted to
        endure the most demanding jobs, making them ideal for any structural
        project. Enjoy outstanding service that ensuresa memorable experience
        every time. Trust Makusu for the reliability you
      </p>
      <button class="btn btn-primary">Shop now</button>
    </div>
  </div>
</div>
